body{
    background-color: papayawhip;
}

p{
    color:black;
}

/* กำหนด hr ไข่ปลา */
hr{
border-style: none;
border-top-style: dotted;
border-color: black;
border-width: 5px;
width: 20%;
}

img{
    carrot: whitesmoke;
}

.rabbit{
    background-color: whitesmoke;
}
.circular{
    border-radius: 100%;
}

#heading{
    color:brown;
    font-display: italic;
}
